<!-- <mat-expansion-panel *ngIf="categories">
 <mat-expansion-panel-header>
  <mat-panel-title>
   CATEGORIES
  </mat-panel-title>
  <mat-selection-list [multiple]="false">
   <mat-list-option 
   *ngFor="let category of categories" [value]="category">
    <button>
     {{ category }}
    </button>
   </mat-list-option>
  </mat-selection-list>
 </mat-expansion-panel-header>
</mat-expansion-panel> -->
<mat-expansion-panel hideToggle>
 <mat-expansion-panel-header>
  <mat-panel-title> CATEGORIES </mat-panel-title>
 </mat-expansion-panel-header>
  <mat-selection-list [multiple]="false">
   <mat-list-item
   *ngFor="let category of categories" >
    <button (click)="onShowCategory(category)">
     {{ category }}
    </button>
   </mat-list-item>
  </mat-selection-list>
</mat-expansion-panel>
